
*.b#1

*.b#2

*.b#3

*.b#4

*.s#1

*.s#2

*.s#3

*.b#5

*.b#6

ATTINY85/BATSENSE2/attiny_batsense2.b#7

ATTINY85/BATSENSE2/attiny_batsense2.b#8

*.s#5

*.s#4
*.b#7
*.b#8
*.b#9
*.s#6
*.s#7
*.s#8
*.s#9
*.tap
*.DS_Store
*.tap
*.bot.drill.tap
*.tap
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/solderpaste_top.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/solderpaste_bottom.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/soldermask_top.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/soldermask_bottom.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/silkscreen_top.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/silkscreen_bottom.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/profile.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/gerber_job.gbrjob
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/copper_top.gbr
diverse/blink_tutorial/factory/CAMOutputs/GerberFiles/copper_bottom.gbr
diverse/blink_tutorial/factory/CAMOutputs/DrillFiles/drills_1_16.xln
diverse/blink_tutorial/factory/CAMOutputs/DrillFiles/drills.xln
diverse/blink_tutorial/factory/blink_tutorial.sts
diverse/blink_tutorial/factory/blink_tutorial.stc
diverse/blink_tutorial/factory/blink_tutorial.sol
diverse/blink_tutorial/factory/blink_tutorial.pls
diverse/blink_tutorial/factory/blink_tutorial.plc
diverse/blink_tutorial/factory/blink_tutorial.gpi
diverse/blink_tutorial/factory/blink_tutorial.cmp
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.TXT
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GTS
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GTP
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GTO
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GTL
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GML
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GBS
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GBP
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GBO
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.GBL
ESP32/multi_sense32/mfg/N39025R0B0/multi_sense32.brd
ESP32/multi_sense32/mfg/N39025R0B0/CAMOutputs/GerberFiles/gerber_job.gbrjob
